#page-create-point{
    width: 90%;
    max-width: 1100px;
    /* Alianhamento de caixa pelo lado de fora */
    margin: 0 auto;
}
#page-create-point header{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#page-create-point header a{
    color: var(--title-color);
    font-weight: bold;
    display: flex;
    align-items: center;
}
#page-create-point header a span{
    margin-right: 16px;
    display: flex;
    background-image: url('../icones/arrow-left.svg');
     width: 20px;
     height: 24px;

}
/* Formulario*/
form{

    /* Adicionando margens no topo da pagina de 80 pixels*/
    
    
    /* Adicionar a cor do formulario */
    background-color: white;
    /* Preenchimemto */
    margin: 80px;
    padding: 64px;
    /* Adicionando bordas */
    border-radius: 8px;

    /* Adicionando largura maxima do formulario */
    max-width: 730px;
  
}
form h1{
    font-size: 36px;
}

form fieldset{
    margin-top: 60px;
    border: 0;
}
form legend{
        margin-bottom: 40px;
}

form legend h2{
    font-size: 24px;
}

form .field{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

form .field-group{

        display: flex;
        
        
}
form input,
form input{
    background-color: #fbfbfd;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    
    outline: none;

    border-radius: 8px;
}
form select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fbfbfd;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    border-radius: 8px;
    
}
form label{
    font-size: 14px;
    margin-bottom: 8px;
}

form .field-group .field + .field{
    margin-left: 24px;
}

form button{
    width: 260px;
    height: 56px;

    background-color: var(--primer-color);
    border-radius: 10px;

    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;

    margin-top: 40px;
    transition: background-color 400ms;
}
form button:hover{
    background-color: #2fb86e;
}
.items-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.items-grid li{
    background-color: #f5f5f5;
    
    list-style: none;
    border-radius: 8px;
    height: 180px;
    border: 2px solid #f5f5f5;
    padding: 32px 24px 16px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: center;

    cursor: pointer;

}

.items-grid li spam{
    margin-top: 12px;
    flex: 1;
    display: flex;
    align-items: center;
    color: var(--title-color);
}